/* Сброс стилей */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Short Stack", serif;
}

html, body {
    height: 100%;
}

/* Убираем стили для ссылок */
a {
    text-decoration: none;
    color: inherit; /* Убираем цвет по умолчанию */
}

/* Убираем стили для списков */
ul, ol {
    list-style: none; /* Убираем маркеры списка */
}


/* Убираем стили для изображений */
img {
    max-width: 100%; /* Убедитесь, что изображения не выходят за пределы контейнера */
    height: auto; /* Сохраняем пропорции изображений */
}

/* Убираем стили для кнопок */
button {
    border: none; /* Убираем рамку */
    background: none; /* Убираем фоновый цвет */
    cursor: pointer; /* Указываем, что это кнопка */
}
